{% extends "layout.html" %}
{% block content %}
    <p><br><h1>{{str}}</h1><br></p>
    {% for book in Res %}
    
    <div class="flex_container">
        <div class="Book_image">
            <img src={{book['Image-URL-M'].values[0]}} alt={{book['Book-Title'].values[0]}}>
        </div>
        <div>
            <ul>
                <li class="title">
                 <b>Book:</b>   {{book['Book-Title'].values[0]}}
                </li>
                <li class="Author">
                    <b>Author:</b>{{book['Book-Author'].values[0]}}
                </li>
                <li>
                    
                    <form action="{{url_for('bookDetails')}}" method="POST">
                        <input type="hidden" name="bname" value="{{book['Book-Title'].values[0]}}">
                        <input type="hidden" name="author" value="{{book['Book-Author'].values[0]}}">
                        <input type="hidden" name="yop" value="{{book['Year-Of-Publication'].values[0]}}">
                        <input type="hidden" name="publisher" value="{{book['Publisher'].values[0]}}">
                        <input type="hidden" name="bimage" value="{{book['Image-URL-M'].values[0]}}">
                        <button class="button" style="vertical-align:middle"><span>Book Details </span></button>
                    </form>
                </li>
            </ul>
        </div>
        
    </div>
    {% endfor %}
   
{% endblock %}