{% extends "layout.html" %}
{% block content %}
    <p><br><h1>{{str}}</h1><br></p>
    {% for book in Res %}
    
    <div class="flex_container">
        <div class="Book_image">
            <img src={{book['Image-URL-M'].values[0]}} alt={{book['Book-Title'].values[0]}}>
        </div>
        <div>
            <ul>
                <li class="title">
                    <b>{{book['Book-Title'].values[0]}}</b>
                </li>
                <li class="Author">
                    <b>{{book['Book-Author'].values[0]}}</b>
                </li>
            </ul>
        </div>
        
    </div>
    {% endfor %}
   
{% endblock %}